In [2]:
import pandas as pd
import psycopg2

In [3]:
    
def database_creator(name):
    # create  connection to the database
    try:
        conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=jddo3284")
    except psycopg2.Error as e:
        print("Error: Could not make connection tothe postgres database")
        print(e)
    #use the connection to createa cursor toexecute queries

    try:
        cur = conn.cursor()
    except psycopg2.error as e:
        print("Error: Could not get cursor to the database")
        print(e)

    # set automatic commit
    conn.set_session(autocommit=True)

    # create database
    try:
        cur.execute("create database {}".format(name))
    except psycopg2.Error as e:
        print(e)

    #close connection to initial database
    try:
        conn.close()
    except psycopg2.Error as e:
        print(e)

    #create a connection to the database
    try:
        conn = psycopg2.connect("host=localhost dbname={} user=postgres password=jddo3284".format(name))
    except psycopg2.Error as e:
        print ("Error: could not create connection to the database" )
        print(e)

    # create cursor
    try:
        cur = conn.cursor()
    except psycopg2.Error as e:
        print("Error: Could not get cursor to the database")
        print(e)

    # set automatic commit
    conn.set_session(autocommit = True)

    return conn, cur

In [4]:
conn,cur = database_creator("greatest_artist")

database "greatest_artist" already exists

In [5]:
best_artist_rs = pd.read_csv('greatest_artist_dataset/best_artists_RS.csv')

In [6]:
best_artist_rs.head()

,Rolling Stone Magazine Rank,Artist,Racial/Ethnic group,Main Grammy awards,Main Grammy Nominations,Total Awards,Total Nominations,UK number 1's
0,1,The Beatles,White/European,2,10,14,29,17
1,2,Bob Dylan,White/European,1,4,10,38,1
2,3,Elvis Presley,White/European,0,2,2,4,21
3,4,The Rolling Stones,White/European,0,1,4,14,8
4,5,Chuck Berry,Black/African,0,0,0,0,1

In [15]:
best_artist_rs.describe()

,Rolling Stone Magazine Rank,Main Grammy awards,Main Grammy Nominations,Total Awards,Total Nominations,UK number 1's
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,0.340000,1.440000,3.700000,11.710000,1.390000
std,29.011492,0.997168,2.652691,5.786609,15.729593,3.422726
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.750000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,50.500000,0.000000,0.000000,1.000000,4.500000,0.000000
75%,75.250000,0.000000,2.000000,5.000000,16.500000,1.000000
max,100.000000,6.000000,11.000000,25.000000,77.000000,21.000000

In [16]:
best_artist_rs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rolling Stone Magazine Rank  100 non-null    int64
 1   Artist                       100 non-null    object
 2   Racial/Ethnic group          100 non-null    object
 3   Main Grammy awards           100 non-null    int64
 4   Main Grammy Nominations      100 non-null    int64
 5   Total Awards                 100 non-null    int64
 6   Total Nominations            100 non-null    int64
 7   UK number 1's                100 non-null    int64
dtypes: int64(6), object(2)
memory usage: 6.4+ KB

In [7]:
grammys_best_album = pd.read_csv('greatest_artist_dataset/grammys_best_album.csv')

In [8]:
grammys_best_album.head(20)

,Year,Artist,Work,City/town of birth/origin,US State of birth/origin,Country of birth/origin,Racial/Ethnic group
0,1959.0,Henry Mancini,The Music from Peter Gunn,Cleveland,Ohio,USA,White/European
1,1960.0,Frank Sinatra,Come Dance with Me!,Hoboken,New Jersey,USA,White/European
2,1961.0,Bob Newhart,The Button-Down Mind of Bob Newhart,Oak Park,Illinois,USA,White/European
3,1962.0,Judy Garland,Judy at Carnegie Hall,Grand Rapids,Minnesota,USA,White/European
4,1963.0,Vaughn Meader,The First Family,Waterville,Maine,USA,White/European
5,1964.0,Barbra Streisand,The Barbra Streisand Album,New York City,New York,USA,White/European
6,1965.0,Stan Getz,Getz/Gilberto,Philadelphian,Pennsylvania,USA,White/European
7,NaN,Joao Gilberto,NaN,Juazeri,NaN,Brazil,White/European
8,1966.0,Frank Sinatra,September of My Years,Hoboken,New Jersey,USA,White/European
9,1967.0,Frank Sinatra,A Man and His Music,Hoboken,New Jersey,USA,White/European
10,1968.0,The Beatles,Sgt. Pepper's Lonely Hearts Club Band,Liverpool,NaN,UK,White/European
11,1969.0,Glen Campbell,By the Time I Get to Phoenix,Delight,Arkansas,USA,White/European
12,1970.0,"Blood, Sweat & Tears","Blood, Sweat & Tears",New York City,New York,USA,White/European
13,1971.0,Simon & Garfunkel,Bridge over Troubled Water,New York City,New York,USA,White/European
14,1972.0,Carole King,Tapestry,New York City,New York,USA,White/European
15,1973.0,George Harrison,The Concert for Bangladesh,Liverpool,NaN,UK,White/European
16,1974.0,Stevie Wonder,Innervisions,Saginaw,Michigan,USA,Black/African
17,1975.0,Stevie Wonder,Fulfillingness' First Finale,Saginaw,Michigan,USA,Black/African
18,1976.0,Paul Simon,Still Crazy After All These Years,Newark,New Jersey,USA,White/European
19,1977.0,Stevie Wonder,Songs in the Key of Life,Saginaw,Michigan,USA,Black/African

In [18]:
grammys_best_album.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       60 non-null     float64
 1   Artist                     63 non-null     object
 2   Work                       60 non-null     object
 3   City/town of birth/origin  63 non-null     object
 4   US State of birth/origin   43 non-null     object
 5   Country of birth/origin    63 non-null     object
 6   Racial/Ethnic group        63 non-null     object
dtypes: float64(1), object(6)
memory usage: 3.6+ KB

In [9]:
grammys_best_record = pd.read_csv('greatest_artist_dataset/grammys_best_record.csv')

In [10]:
grammys_best_record.head(50)

,Year,Record,Artist,Genre
0,1959,Nel Blu Dipinto Di Blu (Volare),Domenico Modugno,Balad
1,1960,Mack the Knife,Bobby Darin,Jazz
2,1961,Theme from A Summer Place,Percy Faith,Easy Listening
3,1962,Moon River,Henry Mancini,Traditional Pop
4,1963,I Left My Heart in San Francisco,Tony Bennett,Traditional Pop
5,1964,Days of Wine and Roses,Henry Mancini,Easy Listening
6,1965,The Girl from Ipanema,Stan Getz & Joao Gilberto,Jazz
7,1966,A Taste of Honey,Herb Alpert,Jazz
8,1967,Strangers in the Night,Frank Sinatra,Jazz
9,1968,"Up, Up and Away",The 5th Dimension,Soul
10,1969,Mrs. Robinson,Simon & Garfunkel,Folk Rock
11,1970,Aquarius / Let the Sunshine In,The 5th Dimension,Soul
12,1971,Bridge Over Troubled Water,Simon & Garfunkel,Rock
13,1972,It's Too Late,Carole King,Rock
14,1973,The First Time Ever I Saw Your Face,Roberta Flack,Soul
15,1974,Killing Me Softly with His Song,Roberta Flack,Soul
16,1975,I Honestly Love You,Olivia Newton-John,Rock
17,1976,Love Will Keep Us Together,Captain & Tennille,Pop
18,1977,This Masquerade,George Benson,R&B
19,1978,Hotel California,The Eagles,Rock
20,1979,Just the Way You Are,Billy Joel,Rock
21,1980,What a Fool Believes,The Doobie Brothers,Rock
22,1981,Sailing,Christopher Cross,Rock
23,1982,Bette Davis Eyes,Kim Carnes,Rock
24,1983,Rosanna,Toto,Rock
25,1984,Beat It,Michael Jackson,Rock
26,1985,What's Love Got to Do with It,Tina Turner,R&B
27,1986,We are the World,USA for Africa,Pop
28,1987,Higher Love,Steve Winwood,Rock
29,1988,Graceland,Paul Simon,Folk
30,1989,Don't Worry Be Happy,Bobby McFerrin,Jazz
31,1990,From a Distance,Bette Midler,Pop
32,1991,Another Day in Paradise,Phil Collins,Pop
33,1992,Unforgettable,Natalie Cole & Nat King Cole,Traditional Pop
34,1993,Tears in Heaven,Eric Clapton,Rock
35,1994,A Whole New World,Peabo Bryson & Regina Belle,Show Tune
36,1995,All I Wanna Do,Sheryl Crow,Rock
37,1996,Kiss from a Rose,Seal,Pop
38,1997,Change the World,Eric Clapton,Pop
39,1998,Sunny Came Home,Shawn Colvin,Rock
40,1999,My Heart Will Go On,Celine Dion,Pop
41,2000,Smooth,Santana feat Rob Thomas,Rock
42,2001,Beautiful,Christina Aguilera,Pop
43,2002,Fallin’,Alicia Keys,R&B
44,2003,Don't Know Why,Norah Jones,Pop
45,2004,Clocks,Coldplay,Rock
46,2005,Here We Go Again,Ray Charles & Norah Jones,Traditional Pop
47,2006,Breathe,Faith Hill,Country
48,2007,Not Ready to Make Nice,Dixie Chicks,Country
49,2008,Rehab,Amy Winehouse,Pop

In [19]:
grammys_best_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    64 non-null     int64
 1   Record  64 non-null     object
 2   Artist  64 non-null     object
 3   Genre   64 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.1+ KB

In [11]:
money_makers_bb = pd.read_csv('greatest_artist_dataset/money_makers_bb.csv')

In [12]:
money_makers_bb

,Artist,total,sales,streaming,publishing,touring,year
0,Taylor Swift,23.8,10,10.60,3.200,0.0,2020
1,Post Malone,23.2,0.7125,8.10,2.000,12.4,2020
2,Celine Dion,17.5,0.25,0.29,0.024,17.0,2020
3,Eagles,16.3,0.97,2.70,1.200,11.4,2020
4,Bellie Eilish,14.7,2.1,5.90,5.700,1.0,2020
...,...,...,...,...,...,...,...
115,YoungBoy Never Broke Again,10.4,0.12,8.90,1.400,0.0,2021
116,Thomas Rhett,10.3,0.17,2.40,0.410,7.4,2021
117,Zac Brown Band,10.3,0.23,1.60,1.000,7.4,2021
118,Maluma,10.2,0.002,1.30,0.810,8.1,2021
119,The Weeknd,10.1,1.3,7.30,1.600,0.0,2021

In [13]:
richest_musicians_by_year = pd.read_csv('greatest_artist_dataset/richest_musicians_by_year.csv')

In [14]:
richest_musicians_by_year

,Year,Musician,Nationality,Earnings (Millions),Adjusted earnings\n(in 2023 dollar)
0,1987,Bruce Springsteen,United States,$56,134
1,1988,Michael Jackson *,United States,$97,222
2,1989,Michael Jackson *,United States,$125,273
3,1990,Michael Jackson,United States,$100,207
4,1991,New Kids on the Block *,United States,$115,229
5,1992,New Kids on the Block,United States,$62,120
6,1993,Guns N' Roses,United States,$53,99
7,1994,Pink Floyd,United Kingdom,$62,113
8,1995,The Beatles,United Kingdom,$130,231
9,1996,The Beatles,United Kingdom,$130,225
10,1997,The Beatles,United Kingdom,$98,165
11,1998,The Rolling Stones,United Kingdom,$57,95
12,1999,Backstreet Boys,United States,$60,98
13,2001,The Beatles,United Kingdom,$70,107
14,2002,U2,Ireland,$69,104
15,2003,The Rolling Stones,United Kingdom,$66.50,98
16,2004,Bruce Springsteen,United States,$64,92
17,2005,Madonna,United States,$50,69
18,2006,U2,Ireland,$110,148
19,2007,The Rolling Stones,United Kingdom,$110,144
20,2008,The Police,United Kingdom,$115,145
21,2009,Madonna,United States,$110,139
22,2010,U2,Ireland,$130,162
23,2011,U2,Ireland,$195,235
24,2012,Dr. Dre,United States,$110,130
25,2013,Madonna,United States,$125,145
26,2014,Dr. Dre,United States,$620,710
27,2015,Katy Perry,United States,$135,154
28,2016,Taylor Swift,United States,$170,192
29,2017,Diddy,United States,$130,144
30,2018,U2,Ireland,$118,127
31,2019,Taylor Swift,United States,$185,196
32,2020,Kanye West,United States,$170,178
33,2021,Bruce Springsteen,United States,$435,435